.brand-logo {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}



.container {
    margin-top: 20px;
    width: 90%;
    
}

.map-search {
    border: 1px solid #dddddd;
    
}

form {
    /* background-color: red; */
    margin: 20px;
    height: 100%;
}

.instructions {
    font-size: 16pt;
    padding: 20px;
    line-height: 30px;
}




#map {
    /* width: 80%; */
    border-right: 1px solid #dddddd;
    height: 550px;
    z-index:100;
  }
 

  .modal-content {
      color: black;
  }

  .side-panel{
      height: 500px;
      overflow-y: auto;
  }
  .pic{
      height: 200px;
      width: 200px;
  }
  .cat{
      
  }