.brand-logo {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 20px;
    width: 90%;
    
}

.map-search {
    border: 1px solid #dddddd;
    
}

form {
    /* background-color: red; */
    margin: 20px;
    height: 100%;
}

.instructions {
    font-size: 16pt;
    padding: 20px;
    line-height: 30px;
}

#map {
    /* width: 80%; */
    border-right: 1px solid #dddddd;
    height: 550px;
    z-index:100;
  }
 

  .modal-content {
      color: black;
  }

  .side-panel{
      height: 550px;
      overflow-y: auto;
      border: gray;
      width: 700px;
  }
  .picture{
      height: 100px;
      width: 100px;
      float: right;
      background-size:cover;
      margin: 0 0 15px 15px;
      background: #eeeeee;
     
  }

  .rate{
      width: 104px;
      height: 17px;
  }

  h3{
      font-size: 25px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .cat{
      font-size: 15px;
      font-style: italic;
  }
 .price{
color: green;
font-style: oblique;

 }
 .rate{
font-size: 0px;
 }
 .review{
     font-size: 10px;
 }
 div{
border-bottom: 0.5px solid rgb(196, 207, 211);
background: whitesmoke;
 }
 .logo{
     width: 50px;
     height: 45px;
     float: right;
    padding-bottom: 25px;
     
 }